attrs==25.4.0
certifi==2026.1.4
cffi==2.0.0
cryptography==46.0.4
distlib==0.4.0
filelock==3.20.3
nftables==0.1
OpenTimelineIO==0.18.1
packaging==26.0
platformdirs==4.5.1
psutil==7.2.2
pyaaf2==1.7.1
pycparser==2.23
pygdbmi==0.11.0.0
PyGObject==3.54.5
sentry-sdk==2.52.0
smbus==1.1
TBB==0.2
urllib3==2.6.3
virtualenv==20.36.1
wheel==0.46.3
